body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#compteur {
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Styles personnalisés pour les images */
.images img {
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    max-width: 150px;
    height: auto;
    
}

.images figcaption {
    font-size: 1.2em;
    color: #333;
    margin-top: 5px;
}

/* Styles du footer */
footer.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}

.footer-content {
    margin: 0;
}

.footer-content p {
    color: #fff;
    margin: 0;
}

body {
    padding-bottom: 50px;
}